<div class="panels-container">
    <div class="panel-wrapper">
      <div class="panel">
        <h1>HERE YOU CAN SEE</h1>
        <h2>OUR TWO LATEST RECOMMENDATIONS </h2>
        <ul>
          <li class="panel-top"></li>
          <li class="panel-middle">
            <p>If you want to find a specific book</p>
            <a href="#">Search Here</a> </li>
          <li class="panel-bottom"></li>
        </ul>
      </div>
      <div *ngFor="let theme of themes" class="panel">
        <h1>{{theme.title}}</h1>
        <ul>
          <li class="panel-top"></li>
          <li class="panel-middle">
            <p>Written by: {{theme.author}} </p>
            <a href="#">Read More</a> </li>
          <li class="panel-bottom"></li>
        </ul>
        
      </div>
      
      
     
      
      <div class="clear"></div>
    </div>
  </div>