<main class="create">
    <section id="create">
        <div class="form">
            <h2>Edit Book</h2>
            <form class="create-form"  #form="ngForm" >
                <input type="text" name="title" id="title" placeholder="Title" #inputtitle="ngModel"  [(ngModel)]="theme.title" required minlength="1"/>
                <ng-container *ngIf="inputtitle.touched">
                    <div class="warning" *ngIf="inputtitle?.errors?.['minlength']"> Title length must be above 1 character! </div>
                    <div class="warning" *ngIf="inputtitle?.errors?.['required']"> Title is required </div>
                </ng-container>


                <input type="text" name="genre" id="genre" placeholder="Genre" [(ngModel)]="theme.genre" #inputGenreTitle="ngModel" ngModel required minlength="3" />
                
                <ng-container *ngIf="inputGenreTitle.touched">
                    
                    <div class="warning" *ngIf="inputGenreTitle?.errors?.['minlength']"> Description length must be above 3 characters! </div>
                    <div class="warning" *ngIf="inputGenreTitle?.errors?.['required']"> Description is required </div>
                    
                </ng-container>

                <input type="text" name="author" id="author" placeholder="Author"  [(ngModel)]="theme.author" #inputAuthor="ngModel" ngModel required minlength="3"/>

                <ng-container *ngIf="inputAuthor.touched">
                    
                    <div class="warning" *ngIf="inputAuthor?.errors?.['minlength']"> Author's name length must be above 3 characters! </div>
                    <div class="warning" *ngIf="inputAuthor?.errors?.['required']"> Author name is required </div>
                    
                </ng-container>

                <input type="text" name="image" id="image" placeholder="Image"  [(ngModel)]="theme.image" #inputImg="ngModel" ngModel required minlength="15" />

                <ng-container *ngIf="inputImg.touched">
                    
                    <div class="warning" *ngIf="inputImg?.errors?.['minlength']">Image URL length must be above 15 characters! </div>
                    <div class="warning" *ngIf="inputImg?.errors?.['required']"> Book image is required </div>
                    
                </ng-container>


                <textarea id="description" placeholder="Description..." name="description" #textareaPostText="ngModel"  [(ngModel)]="theme.description" ngModel required minlength="10"></textarea>

                <ng-container *ngIf="textareaPostText.touched">
                    
                    <div class="warning" *ngIf="textareaPostText?.errors?.['minlength']"> Description length must be above 10 characters! </div>
                    <div class="warning" *ngIf="textareaPostText?.errors?.['required']"> Description is required </div>
                    
                </ng-container>

                <button (click)='saveTheme(form)' type="submit">Save</button>
                <button [routerLink]="'/themes/'+theme._id+'/details'" >Cancel</button>
            </form>
        </div>
    </section>
</main>
