
<div class="container">
    <form action="" id="form" [formGroup]="form" ngSubmit="register()">
        <h1>Register</h1>
      
        <div class="input-group">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" formControlName="email">
            <ng-container *ngIf="form.get('email')?.touched">
                <div class="error" *ngIf="form.get('email')?.errors?.['required']">Email is required</div>
                <div class="error" *ngIf="form.get('email')?.errors?.['emailValidator']">Email is not valid</div>
                
            </ng-container>
        </div>

        <ng-container formGroupName="passGroup">
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" formControlName="password">
            

             <ng-container *ngIf="form.get('passGroup')?.get('password')?.touched">
            <div class="error" *ngIf="form.get('passGroup')?.get('password')?.errors?.['required']">Password required!</div>
        </ng-container>
        </div>
       
        <div class="input-group">
            <label for="rePassword">Confirm Password</label>
            <input type="password" id="rePassword" name="rePassword" formControlName="rePassword">

             <ng-container *ngIf="form.get('passGroup')?.get('rePassword')?.touched">
                <div class="error" *ngIf="form.get('passGroup')?.errors?.['matchPasswordsValidator'] || form.get('passGroup')?.get('rePassword')?.errors?.['required']">Repeat Password does not match!</div>
            </ng-container>
        </div>
           
        </ng-container>
        <button type="button"  (click)="register()">Register</button>
        <p class="text-center">
            Have an account?
            <a routerLink="/login">Log In</a>
          </p>
    </form>
</div>