

<div class="header">
    <h1>Welcome {{email}}</h1>
    <h2>A place where you can recommend and find new books. </h2>
    <div class="header-button"><a routerLink="/themes">Explore</a> </div>
</div>

<div class="banner-container">
    <div class="banner-top"></div>
    <div class="banner-middle"> <img src="https://media.istockphoto.com/id/1370490664/photo/book-club-concept-a-stack-of-books-and-coffee-on-a-desk-with-chalk-lettering.jpg?s=612x612&w=0&k=20&c=hnFmn4Soofj1bIPGwr_qNrCSFPqDJx2o5g3ByWwbqWY=" alt="themedemic" /> </div>
    <div class="banner-bottom"></div>
</div>

