#details-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: url(../../../../images/book-current.png);
	margin: 50px auto;
	min-height: 300px;
	max-width: 60%;
	padding: 20px;
	padding-bottom: 150px;
	border: 12px ridge  rgba(119, 0, 0, 0.781);
	
  }
  
  #img-wrapper {
	max-width: 29%;
	/* border: 5px solid rgba(119, 0, 0, 0.781); */
	
	
  }
  
  #img-wrapper img {
	
	width: 100%;
	min-height: 300px;
	width: 300px;
	height: 300px;
	
	
  }
  
  #details-title {
	text-align: center;
	font-weight: bold;
	font-size: 39px;
	padding-top: 10px;
	padding: 5px;
	padding-bottom: 25px;
	width: 100%;
  }
  
  #info-wrapper {
	display: block;
	width: 65%;
	margin-left: 10px;
	
  }
  
  #info-wrapper > p {
	width: 90%;
	font-weight: bolder;
	
  }
  
  #info-wrapper > p > span {
	font-weight: lighter;
	border: black;
	border-width: 4px;
  }
  
  h4 {
	text-align: center;
  }
  
  p {
	text-align: center;
	font-size: 21px;
	color: black;
	font-family: cursive;
	
  }
  
  span {
	font-size: 19px;
	overflow: hidden; 
	color: black;
  }
  
  table {
	width: 90%;
	
  }
  
  table td p {
	font-weight: bold;
	padding: 40px;
	color: black;
	margin-left: 5px;
  }
  
  table td p span {
	font-weight: lighter;
	color: black;
	
  }
  
  #action-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: -55px;
	margin-top:55px;
	cursor: pointer;
	
  }
  
  #action-buttons a {
	text-decoration: wavy;
	margin: auto 50px;
	font-size: 21px;
	width: 130px;
	padding: 10px;
	text-align: center;
	color: white;
	background-color:  rgba(119, 0, 0, 0.781);
	cursor: pointer;
	
  }
  
  #action-buttons p {
	text-decoration: none;
	margin: auto 50px;
	font-size: 21px;
	width: 300px;
	padding: 10px;
	margin-top: 10px;
	text-align: center;
	color: white;
	background-color: rgba(119, 0, 0, 0.781);
	cursor: pointer;
  }
